<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
      <%= f.label :first_name, class: 'required' -%>

      <%= f.text_field :first_name, :class => 'form-control' -%>
    </div>
    <div class="form-group">
      <%= f.label :last_name, class: 'required' %>

      <%= f.text_field :last_name, :class => 'form-control' %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
     <div class="pop-over" data-toggle="popover" title="By providing ORCID iD you grant access to http://orcid.org and all the public information about you available on this site." data-content="Some content inside the popover">
      <%= label_tag :orcid, 'ORCID', class: f.object.needs_orcid? ? 'required' : '' -%>
      <%= image(:orcid_id) %>
     </div>
      <%= f.text_field :orcid, :class => 'form-control' %>
    </div>
  </div>
</div>
